.tchat-section{
    position: absolute;
    right: 250px;
}

.tchat-fixed{
    position: fixed;   
}

.tchat-content{
    border-radius: 20px;
    background-color: white;
    width: 250px;
    height: 250px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}