{% extends 'base.html.twig' %}
{% block title %}Changement Mot de Passe {% endblock %} 
{% block container %}

<h3>Changement du Mot de Passe</h3>
<div class="container">
        <div class="row">
                <div class="col my-2">
                       {{ form(modifPassForm) }} 
                </div>
        </div>
</div>
{% endblock %}  