<h1>Activation de votre compte</h1>
<p>Vous avez créé un compte FitNet, veuillez cliquer sur le lien ci-dessous pour l'activer : <br><br>
<a href="{{ signedUrl|raw }}">Activer mon compte</a>
Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Tous le respect de l'équipe FitNet!
</p>
