{% extends 'base.html.twig' %}

{% block title %}Modification de la publication :
	{{ publication.titre }}
{% endblock %}

{% block container %}

	<div class="container my-3">
		<div class="row">
			<h1>Modifier une publication</h1>
			{{form(formPublication)}}
		</div>
	</div>

	{% endblock %}
