{% extends 'base.html.twig' %}
{% block title %}Article : {{publication.titre}} {% endblock %}

{% block container %}
{% include '_layout/_desktop/nav.html.twig' %}
  <div class="header-margin"></div>

	<main class="wrapper-1200">
    {% include '_layout/_desktop/sideNav.html.twig' %}


    {% include 'publication/_card.html.twig' %}

  
    {% include '_layout/_desktop/tchat.html.twig' %}
  </main>


{% endblock %}

