<section class="tchat-section">
    <div class="tchat-fixed">
        <div class="tchat-content">
            <a class="dark-round" href="{{path('app_publication_new')}}">Créer une publication<i class="fa-solid fa-plus"></i></a>        
        </div>
    </div>
</section>