{% extends 'base.html.twig' %}

{% block title %}Hello SocialController!{% endblock %}

{% block container %}

{% include '_layout/_mobile_nav_bar.html.twig' %}
<section class="social-section">
    <a href="{{path('app_evenement')}}"><div class="social-div"></div></a>
    <a href="#"><div class="social-div"></div></a>
</section>
{% include '_layout/_mobileFooter.html.twig' %}
{% endblock %}
