<section class="header-profil-section">

<a href="{{ path('app_profil') }}">
    <div class="photo-profil">
        <img id="image_profil1" class="rounded-circle" src="{{ app.user.image }}" alt="{{ app.user.nom }}" width="100px"/>
    </div></a>
<div class="profil-dark-bar">
    <a class="button-profil button-profil-1" href="#">Suivre <i class="fa-solid fa-plus icon"></i></a>
    <a class="button-profil button-profil-2" href="#">Invité en ami <i class="fa-solid fa-user-plus icon"></i></a>
    <a class="button-profil button-profil-3" href="#">Message <i class="fa-solid fa-paper-plane icon"></i></a>
</div>
</section>