<section class="sideNav-profil">
    <nav class="nav-profil">
        <ul>
            <a href="{{path('app_profil')}}" class="li-nav-profil">Profil</a>
            <a id="app_amie" href="{#{path('app_amie')}#}" class="li-nav-profil">Amis</a>
            <a href="{#{path('app_suivie')}#}" class="li-nav-profil">Suivies</a>
            <a href="{#{path('app_profil_publication')}#}" class="li-nav-profil">Publications</a>
            <a href="{#{path('app_profil_evenement')}#}" class="li-nav-profil">Evènements</a>
        </ul>
    </nav>
</section>