
{% for groupe in app.user.groupes %}
                <div class="groupe-card">
                    <p><a href="{{ path('app_groupe_show', {slug: groupe.slug, id: groupe.id}) }}">{{ groupe.intitule }}</a></p>
                    <p class="dark-round">
                        <a href="#">Quitter ce groupe</a>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </p>
                </div>
{% endfor %}