{% extends 'base.html.twig' %}

{% block title %}Page Profil {% endblock %}

{% block container %}
	{% include '_layout/_desktop/nav.html.twig' %}
	<div class="header-margin"></div>

	<div class="container-fluid wrapper-1200">
		<div class="row">
			<div class="col my-2">
				{% include '_layout/_desktop/sideNav.html.twig' %}
			</div>

			<section class="public-profil-container">


			{% include 'profil/layout/header.html.twig' %}

				<div class="public-profil-div">

					<div class="public-profil-nav">
						<nav>
							<ul>
								<li><a class="btn-profil list-publications" href="#page-publications">Mes Publications</a></li>
								<li><a class="btn-profil list-evenements" href="#page-evenements">Les Evénements</a></li>
								<li><a class="btn-profil list-groupes" href="#page-groupes">Les Groupes</a></li>
								<li><a class="btn-profil profil-user" href="#page-profil">Profil</a></li>
								<li><a class="btn-profil list-amis" href="#page-ami">Ami</a></li>
								<li><a class="btn-profil list-suivis" href="#page-suivi">Suivi</a></li>
							</ul>
						</nav>
					</div>

					<div class="public-profil-na">

						<div class="lespageprofil active profil-publications" id="page-publications">
						{% include "profil/publication.html.twig" %}
						</div>

						<div class="lespageprofil profil-evenements" id="page-evenements">
						{% include "profil/evenement.html.twig" %}
						</div>

						<div class="lespageprofil profil-groupes" id="page-groupes">
						{% include "profil/groupe.html.twig" %}
						</div>

						<div class="lespageprofil active profil-user" id="page-profil">
							{% include 'profil/layout/profil.html.twig' %}
						</div>

						<div class="lespageprofil list-amis" id="page-ami">
							{% include 'profil/layout/listAmi.html.twig' %}
						</div>

						<div class="lespageprofil list-suivis" id="page-suivi">
							{% include 'profil/layout/suivi.html.twig' %}
						</div>
					</div>


				</div>
			</section>

			</div>
		</div>

		{# <div class="profil-wrapper-desktop " id="contain">
		    {% include '_layout/_desktop/nav.html.twig' %}
		    <div class="header-margin"></div>

		    <main class="main-evenement wrapper-1200">
		    {% include '_layout/_desktop/sideNav.html.twig' %}

		    <section class="profil-container white-bloc">
		        {% include 'profil/layout/header.html.twig' %}
		        {% include 'profil/layout/sideNav.html.twig' %}
		    </section>

		    </main>
		</div>
		
		 <div class="evenement-wrapper-mobile">
		    {% include '_layout/_mobileNavBar.html.twig' %} 
		
		    {% include 'evenement/layout/event-card.html.twig' %}
		    
		    {% include '_layout/_mobileFooter.html.twig' %}
		</div> #}
		{% block javascripts %}
			{{ parent() }}
			{{ encore_entry_script_tags('userProfil') }}
		{% endblock %}


	{% endblock %}
