{% extends 'base.html.twig' %}

{% block title %}Page Profil {% endblock %}

{% block container %}
	{% include '_layout/_desktop/nav.html.twig' %}
	<div class="header-margin"></div>

	<div class="wrapper-1200">
		<div class="row">

			{% include '_layout/_desktop/sideNav.html.twig' %}

			<section class="public-profil-container">

				<div class="public-profil-div">

					<div class="public-profil-nav">

						{% include 'profil/layout/header.html.twig' %}
						{% include 'profil/layout/profil.html.twig' %}
						
						<nav>
							<ul>
								<li><a class="btn-profil list-publications" href="#page-publications">Publications </a></li>
								<li><a class="btn-profil list-evenements" href="#page-evenements">Evénements</a></li>
								<li><a class="btn-profil list-groupes" href="#page-groupes">Groupes</a></li>
								<li><a class="btn-profil profil-user" href="#page-profil">Profil</a></li>
								<li><a class="btn-profil list-amis" href="#page-ami">Ami</a></li>
								<li><a class="btn-profil list-suivis" href="#page-suivi">Suivi</a></li>
							</ul>
						</nav>
					</div>

					<div class="public-profil-na">

						<div class="lespageprofil active profil-publications" id="page-publications">
						{% include "profil/publication_profil.html.twig" %}
						</div>

						<div class="lespageprofil profil-evenements" id="page-evenements">
						{% include "profil/evenement_profil.html.twig" %}
						</div>

						<div class="lespageprofil profil-groupes" id="page-groupes">
						{% include "profil/groupe_profil.html.twig" %}
						</div>

						<div class="lespageprofil profil-user" id="page-profil">
							{% include 'profil/layout/profil.html.twig' %}
						</div>

						<div class="lespageprofil list-amis" id="page-ami">
							{% include 'profil/layout/listAmi.html.twig' %}
						</div>

						<div class="lespageprofil list-suivis" id="page-suivi">
							{% include 'profil/layout/suivi.html.twig' %}
						</div>

						<div class="buttons d-flex flex-row-reverse m-2">
							<a id="modifie_profil" href="{{ path('app_profil') }}" class="btn btn-outline-primary btns px-4">Retour à mon Profil</a>
						</div>

					</div>

				</div>
			</section>

			</div>
		</div>

		
		{% block javascripts %}
			{{ parent() }}
			{{ encore_entry_script_tags('userProfil') }}
		{% endblock %}


	{% endblock %}
