{% extends 'base.html.twig' %}

{% block title %}Evénements{% endblock %}

{% block container %}
<div class="container my-3">
		<div class="row">
        <h1>Modifier une évènement</h1>
{{form(formEvenement)}}
		</div>
	</div>
{% endblock %}
