@import "variables";
@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.filter{
    display: block;
    position: sticky;
    top: 20px;
}
#flash-messages{
    z-index: 9999;
}

li{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

main{
    padding: 0 20rem;
}

.wrapper-1200{
    width: 1200px;
    margin: auto;
    position: relative;
}