@import "variables";
@import "~bootstrap/scss/bootstrap";

*{
    margin: 0;
    padding: 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.filter{
    display: block;
    position: sticky;
    top: 20px;
}
#flash-messages{
    z-index: 9999;
}

li{
    margin: 0;
    padding: 0;
}

ul{
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 1200px) {
    .wrapper-1200{
        width: 1200px;
        margin: auto;
        position: relative;
    }
}

.blue-ground{
    background-color: $primary_color;
 }

.dark-ground{
    background-color: #262626;
}

.bouton{
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 50px;
}

.white-bloc{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 10px;
    overflow: hidden;

    // padding: 1rem;
}

.img-fluid{
    height: 250px;
    object-fit: cover;
}