
.authenfication-header{
  background-color: #1d2124;
  display: grid;
  justify-content: center;
  align-items: center;
}

//.circle:last-child{
//  position: absolute;
//  bottom: 0;
//  border-radius: 200px 200px 0px 0px / 100px 100px 0px 0px;
//  height: 140px;
//  width: 100%;
//}
//
//.circle:first-child{
//  border-radius: 0px 0px 200px 200px / 0px 0px 50px 50px;
//  height: 220px;
//  width: 100%;
//}

.authenfication-header img{
  width: 300px;
}

