.evenement-wrapper-desktop{
  display: none;
}

@media screen and (min-width: 1200px) {
  .evenement-wrapper-mobile{
    display: none;
  }

  .evenement-wrapper-desktop{
    display: block;
  }
}

.main-evenement{
  display: flex;
  justify-content: space-between;
}

.publication-card{
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 700px;
}
