@import "variables";


.profil-container{
    position: absolute;
    width: 930px;
    height: 700px;
    right: 0;
    background-color: #f5f5f5;
}

.header-profil-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}


.photo-profil{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-color:aquamarine;
    //position: absolute;
    //bottom: 30px;
    //left: 20px;
    z-index: 1;
    margin: 1rem;
}

.button-profil{
    background-color: white;
    color: #262626;
    padding: 0.3rem 1rem;
    border-radius: 100px;
}


.icon{
    color: $primary_color;
}

// side nav css 

.sideNav-profil{
    width: 200px;
    height: 500px;
    background-color: white;
    z-index: 10;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.nav-profil ul{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}

.nav-profil ul a{
    background-color: #f5f5f5;
    border-bottom: 1px solid $primary_color;
}

.public-profil-navv{
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    top: 0;
}

.public-profil-navv nav{
    color: #262626;
    padding: 1rem;
}

.public-profil-navv li{
    background-color: #f5f5f5;
    border-bottom: 1px solid $primary_color;
    padding: 0.2rem 1rem;
    // border-radius: 50px;
    margin: 0.2rem 0;
}

.public-profil-navv a{
    color: #262626;
    font-weight: 700;
}

.public-profil-container{
    width: 950px;
    position: absolute;
    top: 0;
    left: 267px;
    height: 670px;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 20px;
    padding: 0;
    overflow: hidden;
}

.public-profil-na{
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.public-profil-div{
    display: flex;
    height: 100%;
}

.lespageprofil {
    display: none;
}

.lespageprofil.active {
    display: block;
}

.nom-profil, .btn-profil{
    transition: transform .2s; /* Animation */
}
.nom-profil:hover, .btn-profil:hover{
    transform: scale(1.5); 
}
.suivi-section{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.nom-profil{
    display: flex;
    gap: 0.5rem;
    color: #262626;
}

.bio-div{
    // background-color: #262626;
    padding: 0 1rem 1rem 1rem;
    border-radius: 15px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    color: #262626;
    height: 100px;
    overflow: auto;
}

 h6{
    color: #262626;
    padding: 0 1rem;
}

.ami-suivi-div{
    width: 500px;
    display: flex;
    justify-content: space-between;
    margin: 5px;
    align-items: center;
    background-color: white;
    padding: 0.5rem;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.img-profil{
    width: 50px;
    height: 50px;
}

.button-profil{
    height: fit-content;
    background-color: #f5f5f5;
    margin: 5px 0.5rem;
}

.profil-dark-bar{
    display: flex;
    flex-direction: column;
}

.dark-round a{
    color: white;
}

.modif-profil{
    margin: 0 1rem;
}