<header>
  <img
    class="logo-black"
    src="{{ asset('build/images/fitnet-logo.png') }}"
    alt="image logo"
  />
  <div class="search-and-menu">
    <div class="container">{% include 'publication/_filter.html.twig' %}</div>
    <a href="#"><i class="fa-solid fa-bars"></i></a>
  </div>
  <div class="filter-menu">
    <i class="fa-solid fa-shuffle"></i>
    <div class="bottom-line"></div>
  </div>
</header>

<div class="header-margin"></div>