<footer>
  <nav>
    <ul class="d-flex mb-0">
      <li><a href="{{path('home')}}"><i class="fa-solid fa-house"></i></a></li>
      <li><a href="{{path('app_social')}}"><i class="fa-solid fa-user-group"></i></a></li>
      <li><a><i class="fa-solid fa-paper-plane"></i></a></li>
      <li><a><i class="fa-solid fa-user"></i></a></li>
    </ul>
  </nav>
</footer>