
<header class="mobile-header">
	<img class="logo-black" src="{{ asset('build/images/fitnet-logo.png') }}" alt="image logo"/>
	<div
		class="search-and-menu">
		    {{ render(controller('App\\Controller\\HomeController::searchForm')) }}
			<a href="{{ path('app_logout')}}"><i class="fa-solid fa-right-from-bracket"></i></a>
	</div>
	{# <div class="filter-menu">
		<i class="fa-solid fa-shuffle"></i>
		<div class="d-flex justify-content-around">
			<li id="popular_filter" class="link-light nav-link"><i class="fa fa-fire-flame-curved"></i> Popularité</li>
			<li id="old_filter" class="link-light nav-link"><i class="fa-solid fa-scroll"></i> Ancienneté</li>
			<li id="new_filter" class="link-light nav-link"><i class="fa-solid fa-rocket"></i> Nouveauté</li>
		</div>
		<div class="bottom-line"></div>
	</div> #}
</header>

<div class="header-margin"></div>
