<div class="search-and-menu">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {# {% include 'publication/_filter.html.twig' %} #}
        <div id="searchFormulaire"></div>
      </div>
    </div>
  </div>