{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe{% endblock %}

{% block container %}
{% include '_layout/_authentification/headerAuthentification.html.twig' %}

<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>
            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                <button type="submit" class="btn btn-primary btn-lg mt-3">Envoyer</button>
            {{ form_end(passForm) }}
        </div>
    </div>
</section>
{% include '_layout/_authentification/footerAuthentification.html.twig' %}

{% endblock %}