{% extends 'base.html.twig' %}

{% block title %}Réinitialisationmot de passe{% endblock %}

{% block container %}
<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Demande de réinitialisation du mot de passe</h1>
            {{ form_start(form) }}
                {{ form_row(form.email) }}
                <button type="submit" class="btn btn-primary btn-lg mt-3">Envoyer</button>
            {{ form_end(form) }}
        </div>
    </div>
</section>

{% endblock %}