<header class="header-desktop fixed-nav">
    <nav class="nav-desktop">
        <ul>
            <li><img class="logo-black" src="{{ asset('build/images/fitnet-logo.png') }}" alt="image logo"/></li>
            <div>
                <li><i class="fa-solid fa-bell"></i></li>
                <li><a href="{{path('app_profil')}}"><div class="nav-pp"></div></a></li>
            </div>
        </ul>
    </nav>
</header>