<aside class="side-nav-desktop">
    <section class="side-nav-section">
        <div class="side-nav-title">
            <h3>Accueil</h3>
        </div>
        <nav>
            <ul>
                <li><i class="fa-solid fa-house nav-icon"></i><a href="#">Accueil</a></li>
                <li><i class="fa-solid fa-calendar nav-icon"></i><a href="#">Evènements</a></li>
                <li><i class="fa-solid fa-user-group nav-icon"></i><a href="#">Groupes</a></li>
            </ul>
        </nav>
    </section>
    <section class="side-nav-section">
        <div class="side-nav-title">
            <h3>Evènements en cours</h3>
        </div>
    </section>
    <section class="side-nav-section">
        <div class="side-nav-title">
            <h3>Mes groupes</h3>
        </div>
    </section>
</aside>